@model  PasswordChangeModel

<div class="row-fluid sortable">
    <div class="box span12">
        <div class="box-header well" data-original-title>
            <h2><i class="icon icon-red icon-plus"></i>Change password</h2>
        </div>
        <div class="box-content">
            @using (Html.BeginForm("ChangePassword", "Account", FormMethod.Post, new { @class = "form-horizontal", enctype = "multipart/form-data" }))
            {
                <fieldset>
                    <div class="control-group">
                        <label class="control-label" for="focusedInput">Old password<span style="color: #ee5f5b;">*</span></label>
                        <div class="controls">
                            @Html.PasswordFor(model => model.OldPassword)
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label" for="focusedInput">New password <span style="color: #ee5f5b;">*</span></label>
                        <div class="controls">
                            @Html.PasswordFor(model => model.NewPassword)
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label" for="focusedInput">New password [Repeat] <span style="color: #ee5f5b;">*</span></label>
                        <div class="controls">
                            @Html.PasswordFor(model => model.NewPasswordAgain)
                        </div>
                    </div>
                    <div class="form-actions">
                        <button type="submit" class="btn btn-primary">Change</button>
                        <a class="btn btn-danger" href="@Url.Action("Index", "Dashboard")">Cancel</a>
                    </div>
                </fieldset>
            }
        </div>
    </div>
</div>
