@*@model HandleErrorInfo

<section class="">
    <div class="container">
        <div class="section-content">
            <div class="row">
                <div class="col-md-12 main-content">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="page-404">
                                <h2>404</h2>
                                <h3 title="@JhoonHelper.ExceptionHelper.GetExceptionFullMessageText(Model.Exception)">OOPS! PAGE NOT FOUND :(</h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>*@