@model CategoryMenuViewModel

@if (Model != null)
{
    <ul class="sub">

        <li class="sub-wrapper">

            <div class="sub-list">

                <div class="box closed">
                    <h6 class="title">Savant Sound</h6>
                    <ul>
                        <li class="parent">
                            <a href="#">Headers ---</a>
                            <ul class="sub">
                                <li><a href="header1.html">Simple Header---</a></li>
                                <li><a href="header2.html">Fixed Header---</a></li>
                            </ul>
                        </li>
                        <li><a href="search-results.html">Search Results</a></li>
                        <li class="parent">
                            <a href="404.html">perspiciatis    </a>
                            <ul class="sub">
                                <li><a href="404.html">perspiciatis quaerat beatae </a></li>
                                <li class="parent">
                                    <a href="404.html">perspiciatis quaerat beatae </a>
                                    <ul class="sub">
                                        <li><a href="404.html">perspiciatis quaerat beatae </a></li>
                                        <li><a href="404-2.html">perspiciatis </a></li>
                                        <li><a href="404-3.html">perspiciatis quaerat beatae </a></li>
                                    </ul>
                                </li>
                                <li><a href="404-3.html">perspiciatis quaerat beatae </a></li>
                            </ul>
                        </li>
                        <li><a href="sitemap.html">perspiciatis quaerat beatae </a></li>
                    </ul>
                </div>

            </div>

            <div class="promo-block text-right">
                <a href="#">
                    <img class="replace-2x" src="~/img/megamenu-big.jpg" width="253" height="457" alt="">
                </a>
            </div>
        </li>
    </ul>
}
