
<!-- footer-->
<footer class="coopring">
    <p>&copy; @DateTime.Now.Year Jekasssssssssssssss. All Rights Reserved.</p>
</footer>
<!-- End footer-->

@*<a target="_blank" href="http://www.softegral.com/" bl>Designed by Softegral</a>*@
